$color-bg: #000;
$color-orange: #ff9501;
$color-grey: #a6a6a6;
$color-white: #fdfdfd;
$color-btn: #333;

.calc{
    margin: 50px auto;
    width: 300px;
    height: 500px;
    /* border: 1px solid $color-bg; */
    border-radius: 20px;
    background: $color-bg;
    color: $color-white;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4pc 4pc $color-grey;
}

.calc-screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;

    p {
        text-align: right;
        font-size: 4rem;
        margin: 0;
    }
}

.buttons{
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine myltiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.btn {
    width: 60px;
    height: 60px;
    background: $color-btn;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none; 
    
    &:hover {
        filter: brightness(120%);
    }   

    &:active {
        filter: brightness(90%);
    } 
    
    &.bg-grey {
        background:$color-grey ;
    }   

    &.bg-orange { 
        background:$color-orange ;
    }

    &.zero {
        grid-area: zero;
        width: 100%;
        border-radius: 34px;
    }
}





